h3 {
border-top: 15px blue;
font-family: Lato, sans-serif;
}

p {
font-size: 15px;
font-family: Lato, sans-serif;
}

.my-popup .mapboxgl-popup-content {
width: 250px;
background: #EEFFBB;
border-top: 50px black;
padding: 20px;
color: black;
}

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#menu {
  position: fixed;
  background: #EEFFBB;
  padding: 10px;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
}

#legend {
  position: fixed;
  padding: 10px 10px 10px 20px;
  line-height: 10px;
  height: 150px;
  width: 90px;
  margin: 20px;
  bottom: 20px;
  background-color: #EEFFBB;
  border-radius: 10px;
}

.mapboxgl-ctrl-geocoder {
  width: 200px !important;
}

#getback {   
        position: fixed;
        right: 10px;
        top: 230px;       
        width: 30px;
        height: 30px;      
        font-family: "Open Sans", sans-serif;
  font-weight: 600;
        border-radius: 5px;
        font-size: 6px;
        text-align: center;
        color: black;
        background: WhiteSmoke;
        border: 1px dotted black;
    }